{% extends "base.html" %}
{% block title %}
{{obj.name}}
{% endblock title %}
{% block content %}

<div class="row py-5">
    <div class="col-12 d-flex justify-content-between">
        <div>
            <b>{{obj.name}}</b>
        <p>Score to pass : {{obj.required_scored_to_pass}}%</p>
        </div>
        
        <div id="timerBox" ></div>
    </div>
    
    <div class="col-2">
        <a href="{% url 'quizes:QuizList' %}" class="btn btn-outline-danger mb-2 w-100">Go back</a>
    </div>

</div>
{% include "includes/alerts.html" %}


<form class="mt-2 mb-5 shadow-lg p-2" id="quiz-form">
    {% csrf_token %}
    <div id="quizBox"></div>
    <button id="submitBtn" class="btn btn-primary mt-3">Save</button>
</form>
<div class="mb-2" id="scoreBox"></div>
<div id="resultBox"></div>
{% endblock content %}